<%- include("./layout/header.ejs") %>

<body class="bg-dark">
	<%- include("./layout/other/admin-top.ejs") %>

	<main class="p-5">
		<input class="form-control w-25" type="text" placeholder="Search" />
		<section class="d-flex gap-4 flex-wrap">
			<% allUsers.forEach((element)=>{%>
			<section
				style="
					background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
						url('/static/assets/img/dummy-profile-pic.jpg');

					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				"
				class="bg-black p-4 main-card text-light rounded-4 d-flex flex-column align-items-center"
			>
				<img
					class="rounded-circle"
					src="/static/assets/img/dummy-profile-pic.jpg"
					width="120"
					height="120"
					alt="Profile Photo"
					srcset=""
				/>
				<h4 class="text-center mt-3"><%= element.name %></h4>
				<p class="text-center"><%= element.email %></p>
				<p class="text-center">Admin: <%= element.admin %></p>
				<section class="d-flex m-0 gap-2 w-100">
					<button
						class="w-50 btn btn-dark-half d-flex align-items-center justify-content-center rounded-pill px-auto"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-pencil-square"
							viewBox="0 0 16 16"
						>
							<path
								d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
							/>
							<path
								fill-rule="evenodd"
								d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
							/>
						</svg>
						<a
							href="/admin/dashboard/edit?id=<%= element._id%>"
							class="ms-2 m-0 fw-normal"
							>Edit</a
						>
					</button>
					<button
						class="w-50 btn btn-dark-half d-flex align-items-center justify-content-center rounded-pill px-auto"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-trash3"
							viewBox="0 0 16 16"
						>
							<path
								d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
							/>
						</svg>
						<a
							href="/admin/dashboard/delete?id=<%= element._id%>"
							class="ms-2 m-0 fw-normal text-danger"
							>Delete</a
						>
					</button>
				</section>
			</section>

			<%})%>
			<section
				class="d-flex justify-content-center align-items-center main-card"
			>
				<button class="btn btn-primary btn-circle rounded-circle">
					<a href="/admin/dashboard/create">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="32"
							height="32"
							fill="white"
							class="bi bi-person-add"
							viewBox="0 0 16 16"
						>
							<path
								d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"
							/>
							<path
								d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"
							/>
						</svg>
					</a>
				</button>
			</section>
		</section>
	</main>
</body>

<%- include("./layout/footer.ejs") %>
